*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
header {
    height: 30vh;
    background-color: #C2185B;
}
.formulario-login {
    width: 50%;
    height: 50vh;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    background-image: url(/./assets/img/shoes-logo-2.png);
    background-repeat: no-repeat;
    background-position: center top;

    position: absolute;
    z-index: 25;
    top: 7%;
    left: 25%;
    right: 25%;


}

.email, .password{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 2% 0 2% 0
}
h1 {
    color:#9B9B9B;
    font-size: 1.5rem;
    margin-bottom: 25px;
    margin-top: 12%
   }

   .email input, .password input {
    height: 25px;
    color:#9B9B9B;
    padding: 1%
    }
    .email label, .password label {
        color:#9B9B9B;
        font-weight: bold;
    }
    buttom {
        display: flex;
        background-color: #C2185B;
        width: 90%;
        justify-content: center;
        height: 30px;
        align-items: center;
        font-weight: bold;
        color: white;
        margin-top: 3%;
    }
    
